<div class="sticky show-for-medium-up">
  <div class="navigation contain-to-grid">
    <nav class="top-bar" data-topbar>
      <section class="top-bar-section">
        <ul class="left">
          <li>
            <a href="#/projects">Projects</a>
          </li>
          <li>
            <a href="#/about-me">About Me</a>
          </li>
        </ul>
        <div class="center">
            <a href="/"><img src="img/logo.png"></a>
        </div>
        <ul class="right">
          <li>
            <a href="mailto:ghanbak@gmail.com"><i class="fa fa-envelope"></i></a>
          </li>
          <li>
            <a href="http://twitter.com/ghanbak" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="http://dribbble.com/ghanbak" target="_blank"><i class="fa fa-dribbble"></i></a>
          </li>
          <li>
            <a href="http://github.com/ghanbak" target="_blank"><i class="fa fa-github"></i></a>
          </li>
        </ul>
      </section>
    </nav>
  </div>
</div>

<div class="show-for-small-only">
  <div class="navigation contain-to-grid">
    <nav class="tab-bar">
      <section class="middle tab-bar-section">
        <div class="center">
          <a href="/"><img src="img/logo.png"></a>
        </div>
      </section>
      <section class="left-small">
        <a class="left-off-canvas-toggle"><i class="fa fa-bars"></i></a>
      </section>
    </nav>
  </div>
</div>
            
<aside class="left-off-canvas-menu show-for-small-only">
  <ul class="off-canvas-list">
    <li><label><img src="img/logo.png"> ethan macdonald</label></li>
    <li>
      <a href="#/projects">Projects</a>
    </li>
    <li>
      <a href="#/about-me">About Me</a>
    </li>
    <ul class="inline-list">
      <li>
        <a href="mailto:ghanbak@gmail.com"><i class="fa fa-envelope"></i></a>
      </li>
      <li>
        <a href="http://twitter.com/ghanbak" target="_blank"><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a href="http://dribbble.com/ghanbak" target="_blank"><i class="fa fa-dribbble"></i></a>
      </li>
      <li>
        <a href="http://github.com/ghanbak" target="_blank"><i class="fa fa-github"></i></a>
      </li> 
    </ul>
  </ul>
</aside>

  <a class="exit-off-canvas"></a>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/foundation/js/foundation.min.js"></script>