$magento:		#EF672F !default;
$drupal:		#2BA9E0 !default;
$html:			#F06529 !default;
$css:			#1572B7 !default;
$wp:			#22769B !default;
$js:			#F7DB3D !default;
$git:			#5FE5FF !default;
$sass:			#CC6699 !default;
$haml:			#ECE2A9 !default;
$ruby:			#A91501 !default;
$angular:		#E23337 !default;
$php:			#6C7EB7 !default;
$ps:			#0BD7FA !default;
$ai:			#FFAB2B !default;